*{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
/* Navbar */
.navbar-el{
    display: inline-flex;
}

.navbar-el ul{
    list-style: none;
    display: inline-flex;
}
.navbar-el li{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid lightblue;
    width: 90px;
    border-radius: 40px;
    font-family: 'Playfair Display', serif;
    transition-duration: 1s;
    text-align: center;
    font-size: 0.9rem;
    
}
.navbar-el a{
    background: none;
    border: none;
    text-decoration: none;
}
.navbar-el li:hover{
    background-color: lightblue;
    color: black;
}
/*Hero component */
.hero-el h1{
    text-align: center;
    font-size: 5rem;
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: italic;
    color: #5798ba;

}
.hero-el video{
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 23% 50% 21% 65% / 38% 14% 52% 23% ;
}

.hero-el p{
    max-width: 600px;
    font-family: 'Playfair Display', serif;
    margin-left: 60px;
    margin-top: 60px;
    font-size: 2.5rem;
    font-style: italic;
}

/*Content component */

.content-el{
    margin-left: 200px;
    margin-top: 60px;
    margin-bottom: 100px;
    display: inline-flex;
    gap: 30px;
    font-size: 1.5rem;
    max-width: 800px;
    font-family: 'Playfair Display', serif;
}
.content-img{
    max-width: 200px;
    border-radius: 30px;
}
.icon-el{
    height: 14px;
}
.location-el{
    display: flex;
    gap: 6px;
}
.content-el a{
    margin-left: 15px;
    text-decoration: none;
    font-size: 1.2rem;
}
.footer-el{
        background-color: #333;
        padding: 20px;
        color: #fff;
        text-align: center;
        font-size: 14px;
    
}